<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PhotoFileWorkSheet" value="Ark1" />
    <add key="OrderListWorkSheet" value="Orders" />
    <add key="MinimumOrderAmount" value="150" />
    <add key="SendMailFrom" value="info@aarsbilleder.dk" />
    <add key="MailSubject" value="Billedefil fra AARSBILLEDER" />
    <add key="smtpUser" value="aarsbillederne@gmail.com" />
    <add key="smtpPassword" value="aarsbilleder" />
    <add key="smtpPort" value="587" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="Production" value="true" />
    <add key="PathBodyTemplates" value="E:\GIT\Foto-elite\Compare\Compare\Templates\BodyTemplate1.txt;E:\GIT\Foto-elite\Compare\Compare\Templates\BodyTemplate2.txt"/>
    <!--<add key="PathBodyTemplates" value="C:\Repositories\FotoElite\Compare\Compare\Templates\BodyTemplate1.txt;C:\Repositories\FotoElite\Compare\Compare\Templates\BodyTemplate2.txt" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>